/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}

.logo {
    max-width: 10%;
    height: auto;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.logout-btn {
    margin-right: 10px;
}

.user-info {
    font-weight: bold;
    font-size: 18px;
    color: #666666;
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .logo {
        max-width: 20%; /* Ajustar tamaño de logo en pantallas más pequeñas */
    }

    .user-info {
        font-size: 14px;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-buttons {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 480px) {
    .logo {
        max-width: 30%; /* Ajustar aún más para pantallas pequeñas */
    }

    .logout-btn, .user-info {
        font-size: 12px;
        margin-top: 5px;
    }
}